{
        "logLevel": "DEBUG",
        "port": 8081,                   # porta onde o dashboard vai rodar
        "devMode": true,
        "saps":{
                "host" : "10.11.19.41", # ip do saps-dispatcher
                "port" : 8091,          # porta do saps-dispatcher
                "getImagesEndpoint" : "/images"
        },
        "sattelities":[
                {"name":"sat4","sigla":"L4"},
                {"name":"sat5","sigla":"L5"},
                {"name":"sat7","sigla":"L7"}
        ]
}
