{
        "logLevel": "DEBUG",
        "port": 8081,                   // porta onde o dashboard vai rodar (remover comentario)
        "devMode": true,
        "saps":{
                "host" : "127.0.0.1",   // ip do saps-dispatcher (remover comentario)
                "port" : 8091,          // porta do saps-dispatcher (remover comentario)
                "getImagesEndpoint" : "/images"
        },
        "sattelities":[
                {"name":"sat4","sigla":"L4"},
                {"name":"sat5","sigla":"L5"},
                {"name":"sat7","sigla":"L7"}
        ]
}
